<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>FSE Chat room</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    
</head>
<body>
    <div>
        <br>
        <a href="/auth/signout" class="btn btn-danger pull-right">Log out</a> &nbsp; &nbsp; &nbsp;
        <br>
    </div>
    <div class="wrapper">
        
        <div class="body">
            
            <div class="chat-messages">
                <% messages.forEach(message => { %>
                    <div class="message">
                        <div class="message-title">
                            <span class="name"><b><%= message.user.username %></b></span>
                            <small class="pull-right timestamp">
                                <% let time = new Date(message.createdAt); %>
                                <%= time.getDate() + '.' + (time.getMonth() + 1 ) + '.' + time.getFullYear() +' ' + time.getHours() + ':' + time.getMinutes() %>
                            </small>
                            
                        </div>
                        <div class="message-text">
                            <%= message.message %>
                        </div>
                    </div>
                <% }) %>

            </div>
            <form class="post-message">
                <div class="chat-box">
                    <textarea name="" class="message-data"></textarea>
                </div>
                <div class="footer">
                    <button type="submit" class="btn btn-primary col-xs-offset-5 send-message">POST</button>
                    
                </div>
            </form>
        </div>
        
    </div>
</body>
<script src='/js/jquery.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js'></script>
<script src='/js/main.js'></script>
</html>